{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="item form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <a class="btn btn-warning" href="{{ path('app_patient_index') }}">Annuler</a>
            <button type="submit" name="valider" class="btn btn-success">Enregistrer</button>
        </div>
    </div>
{{ form_end(form) }}
