{% extends 'bars.html.twig' %}

{% block title %}Modifier profile {% endblock %}

{% block contentpage %}
    <h1>Modifier profile</h1>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Docteur</h2>
                    
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                        {{ include('user/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
